/*INICIO HEADER NAVBAR*/

body {
  margin: 0;
  padding: 0;
}

header,
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  background-image: url("../img/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* width: 100vw; */
}
.logo {
  display: flex;
}

.logo img {
  height: 110px;
}

.navbar {
  display: flex;
  list-style: none;
}

.navbar a {
  text-decoration: none;
  font-weight: 600;
  margin-right: 15px;
  color: #f28c35;
}

.navbar a:hover {
  color: #fce256;
}

/*FIN HEADER NAVBAR*/
/*INICIO MAIN */

.h2-main {
  text-align: center;
  background-color: #40160a;
  color: #f28c35;
  padding: 7px;
  margin: 0;
}

main {
  background-image: url("../img/main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  /* background-attachment: fixed; */
}

.icon-img {
  width: 30px;
  padding: 3px;
}

@media screen and (max-width: 850px) {
  .navbar {
    display: block;
    margin: 0;
    padding: 0;
  }
}

.spinner {
  height: 125px;
  margin: auto;
}
/*FIN MAIN*/

/*INICIO FOOTER*/
footer {
  height: 100px;
  color: #f28c35;
}

footer p {
  font-weight: 600;
}
/*FIN FOOTER*/
