* {
  margin: 0;
  padding: 0;
  font-family: "Creepster", cursive;
  color: #f28c35;
}

/*INICIO HEADER NAVBAR*/

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  background-image: url("../img/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* width: 100vw; */
}

.logo {
  display: flex;
}

.logo img {
  height: 110px;
}

.navbar {
  display: flex;
  list-style: none;
}

.navbar a {
  text-decoration: none;
  font-weight: 600;
  margin-right: 15px;
}

.navbar a:hover {
  color: #fce256;
}

/*FIN HEADER NAVBAR*/

/*INICIO MAIN FORM*/

.h2-main {
  text-align: center;
  background-color: #40160a;
  padding: 7px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-image: url("../img/main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* width: 100vw; */
}

.fieldset-form {
  width: 50vw;
  padding: 15px;
  border: 2px solid #40160a;
  border-radius: 8px;
}

.form-contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.inputs-contenedor {
  display: flex;
  flex-direction: column;
  /* background-color: #40160a; */
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

label {
  font-size: larger;
  margin-bottom: 10px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  font-weight: 600;
  color: #40160a;
}

input:focus {
  border-color: #f28c35;
  /* border-color: #40160a; */
}

input::placeholder {
  color: #40160abb;
}

.div-form {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  /* background-color: #ccc; */
}

.label-radio {
  width: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

input[type="radio"] {
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid #40160abb;
  outline: none;
  cursor: pointer;
  margin-top: 10%;
}

input[type="radio"]:checked {
  background-color: #40160a;
}

input[type="range"] {
  -webkit-appearance: none;
  height: 7px;
  background-color: #40160a;
  appearance: none;
  border: 1px solid #40160abb;
  border-radius: 10px;
  outline: none;
}
/* Estilo para el track (la barra de fondo) */
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  background: #f28c35;
  border-radius: 5px;
}

/* Estilo para el thumb (el control deslizante) */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #f28c35;
  border: 3px solid #40160a;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -7px; /* Alinea el thumb en el centro verticalmente */
}

select {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-weight: 600;
  text-transform: capitalize;
  color: #40160a;
  cursor: pointer;
  /* appearance: none; */
  outline: none;
}

option {
  font-weight: 600;
}

input[type="submit"] {
  width: 30%;
  text-align: center;
  background-color: #f28c35;
  border: none;
  background-image: url("../icon/disquete.png");
  background-position: left;
  background-size: 25px 25px;
  background-position-x: 10px;
  background-repeat: no-repeat;
  cursor: pointer;
}

input[type="submit"]:hover {
  color: #fce256;
  background-color: #f28d35df;
}

.icon-img {
  width: 30px;
  padding: 3px;
}

/*FIN MAIN FORM*/

/*INICIO FOOTER*/
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  background-image: url("../img/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100px;
}

footer p {
  font-weight: 600;
}
/*FIN FOOTER*/

/* body {
  background-image: url("../img/main.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
}

header,
footer {
  background-image: url("../img/header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 15vh;
  padding: 10px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.img-logo {
  width: 50%;
  height: 50%;
  background-color: aqua;
}
.lista {
  background-color: aqua;
  list-style: none;
  width: 50%;
  display: flex;
  justify-content: space-around;
}

a {
  text-decoration: none;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.fieldset-form {
  background-color: aqua;
  width: 50vw;
  padding: 2em;
} */
