/*INICIO HEADER NAVBAR*/

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  background-image: url("../img/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* width: 100vw; */
}
.logo {
  display: flex;
}

.logo img {
  height: 110px;
}

.navbar {
  display: flex;
  list-style: none;
}

.navbar a {
  text-decoration: none;
  font-weight: 600;
  margin-right: 15px;
  color: #f28c35;
}

.navbar a:hover {
  color: #fce256;
}

/*FIN HEADER NAVBAR*/
/*INICIO MAIN */

.h2-main {
  text-align: center;
  background-color: #40160a;
  color: #f28c35;
  padding: 7px;
  margin: 0;
}

body {
  background-image: url("../img/main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  background-attachment: fixed;
}

main {
  flex-grow: 1;
}

.icon-img {
  width: 30px;
  padding: 3px;
}

/*FIN MAIN*/

/*INICIO FOOTER*/
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  background-image: url("../img/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100px;
  color: #f28c35;
  margin-top: 85vh;
}

footer p {
  font-weight: 600;
}
/*FIN FOOTER*/
